<link rel="stylesheet" href="/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">

<hr>
<h1 class="text-center">JOIN US</h1>
<p class="lead text-center">Enter your email to join <strong><%=data%></strong> others on our waitlist.</p>

<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST" action='/register'>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <button class="btn btn-outline-success btn-block">Join Now</button>
      </form>
    </div>
  </div>
  <hr>
</div>
